<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/b3/aa/b3/911-memorial-nyc.jpg?w=500&h=-1&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> The National Memorial & Museum</h5>
                  <p class="card-text">Speciality Museums • Historic Sites</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/04/ba/d3/e8/statue-of-liberty_rotated_90.jpg?w=500&h=400&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Statue of liberty</h5>
                  <p class="card-text">Points of Interest & Landmarks • Monuments & Statues</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/9d/74/9f/photo0jpg.jpg?w=500&h=-1&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Empire State building</h5>
                  <p class="card-text">Points of Interest & Landmarks • Architectural Buildings</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/90/3d/6f/photo0jpg.jpg?w=500&h=-1&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Brooklynn bridge</h5>
                  <p class="card-text">Bridges</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/92/81/32/photo1jpg.jpg?w=500&h=400&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">The high line</h5>
                  <p class="card-text">Parks • Scenic Walking Areas</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/23/e9/a4/chelsea-market.jpg?w=500&h=-1&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chelsea market</h5>
                  <p class="card-text">Flea & Street Markets</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/90/ab/88/central-park-manhattan.jpg?w=500&h=400&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Central park</h5>
                  <p class="card-text">Points of Interest & Landmarks • Parks</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/64/68/68/new-york-traumblick-auf.jpg?w=500&h=400&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Top of the rock</h5>
                  <p class="card-text">Lookouts • Observation Decks & Towers</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/b7/f9/4c/the-cloisters.jpg?w=500&h=-1&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">The met cloisters</h5>
                  <p class="card-text">Points of Interest & Landmarks • Art Museums</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/08/d3/fa/ellis-island-nov-2015.jpg?w=500&h=400&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ellis island</h5>
                  <p class="card-text">Historic Sites • Points of Interest & Landmarks</p>
                  <a href="#" class="btn btn-primary">VIEW</a>
                </div>
              </div>
        </div>


    </div>
</div>
